@font-face {
    font-family: 'future';
        src: local('future'), 
        local('future'), 
        url('../fonts/future/future.woff'); 
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	font-family: future, sans-serif;
  background: #3C4452;
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: future;
	font-size: 14px;
	line-height: 1.7;
	color: #fff;
	margin: 0px;
}

.error-wrap {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  background: none;
}

.error-info {
  width: 500px;
  border-radius: 10px;
  overflow: inherit;
  padding: 20px 40px;
  background: rgba(255,255,255,.13);
  overflow-wrap: break-word;
  -webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.25);
}


.error {
  width: 100%;
}


.error-title {
  font-size: 30px;
  color: #ee6e73;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 10px;
}

.error .text-center {
  margin: 10px;
}

@media (max-width: 576px) {
  .error-info {
    padding: 55px 15px 37px 15px;
  }
}
